/.git
/.github
/.vscode
/.idea
/.DS_Store
/.agents

/node_modules
/vendor

/bootstrap/cache/*.php
/bootstrap/cache/*.json

/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*

.env
.env.*
